@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Plus Jakarta Sans", sans-serif, Arial, Helvetica;
  -webkit-overflow-scrolling: touch;
}
/* Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
* {
  scrollbar-color: #888 #f0f0f0; /* thumb color track color */
  scrollbar-width: thin;
}

/* Safari-specific tweaks if needed
body {
  -webkit-overflow-scrolling: touch;
} */
